---
title: Home page
published: true
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    {{ 'application.css' | stylesheet_tag }}
    <title>{{ site.name }}</title>
    <meta name="keywords" value="{{ site.meta_keywords }}" />
    <meta name="description" value="{{ site.meta_description }}" />
  </head>
  <body>
    <header class="horizontal-divider">
      <img src="/images/small_logo.png" style="width:275px; margin:20px 0px;" />
      <p class="right-tagline subheader">A blog about whiskey and where to drink it in Chicago</p>
      <div class="clear"></div>
    </header>
    <main>
      <nav>
        <ul>
          <li><a href="/about">About the Author</a></li>
          <li><a href="/events">Events</a></li>
          <li><a href="/whiskeys">Whiskey Reviews</a></li>
          <li>Bars</li>
        </ul>
      </nav>
      <div class="main-content">
        {% block 'main' %}
        <section class="blog-index">
          <ul>
            {% for post in contents.posts %}
              <a href="/{{ page.slug }}/{{ post._slug }}">
              <li class="post-preview">
                <p class="date">{{ post.posted_at | localized_date: "%b %d, %Y" }}</p>
                <div class="post-content">
                  <img src="{{ post.pic | resize: 'x300' }}" alt="event_image" />
                  <h4>{{ post.title }}</h4>
                  <p class="subheader">{{ post.teaser }}</p>
                  <p>{{ post.content }}</p>
                </div>
              </li>
              </a>
              <div class="clear"></div>
            {% endfor %}
          </ul>
        </section>
      </div>
      {% endblock %}
    </main>
  </body>
</html>
